body {
  margin: 0;
  padding: 0;
}
a {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

h1 {
  /* display: flex;
  justify-content: center; */
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
  text-align: center;
  margin: 0;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
}

.hero span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: inline-block; /* keeps them on one line if spacing is added */
  margin: 0 15px; /* spacing between the spans */
}

.hero button {
  display: block; /* forces button to a new line */
  margin: 30px auto 0; /* centers it */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #c271ff;
  color: white;
  border-radius: 22px;
  border: none;
  padding: 20px 14px;
  cursor: pointer;
}

.heroSection {
  background-image: url('./assets2/Object.png');
  background-size: cover; /* makes image fill the section */
  background-repeat: no-repeat; /* prevents repeating */
  background-position: center; /* centers the image */
}

h3 {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 27px;
}

p {
  font-family: 'source sans pro', sans-serif;
  font-style: italic;
  font-size: 16px;
  color: white;
  line-height: 24px;
}

h2 strong {
  font-weight: bold;
  color: #c271ff;
  font-size: 32px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'source sans pro', sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: white;
}

.header-container {
  margin: 35px 171px;
  padding: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.profiles {
  margin-top: 168px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.bruceWalters {
  border-radius: 120px;
  height: auto;
}

.section2 {
  background-color: #c271ff;
  display: flex; /* puts the two divs next to each other */
  justify-content: center; /* centers them horizontally */
  align-items: center; /* vertically aligns them */
  gap: 53px;
  padding: 40px 0;
  height: 359px;
}

blockquote {
  font-family: 'source sans pro', sans-serif;
  color: white;
  font-weight: 500px;
  margin: 0;
}

.section3 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #071629;
  text-align: center;
}

.section3 h2 strong {
  color: #c271ff; /* your purple color */
}

