body {
  margin: 0;
  padding: 0;
}
a {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

h1 {
  /* display: flex;
  justify-content: center; */
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
  text-align: center;
  margin: 0;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
}

.hero span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: inline-block; /* keeps them on one line if spacing is added */
  margin: 0 15px; /* spacing between the spans */
}

.hero button {
  display: block; /* forces button to a new line */
  margin: 30px auto 0; /* centers it */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #c271ff;
  color: white;
  border-radius: 22px;
  border: none;
  padding: 20px 14px;
  cursor: pointer;
}

.heroSection {
  background-image: url('./assets2/Object.png');
  background-size: cover; /* makes image fill the section */
  background-repeat: no-repeat; /* prevents repeating */
  background-position: center; /* centers the image */
}

h3 {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 27px;
}

p {
  font-family: 'source sans pro', sans-serif;
  font-style: italic;
  font-size: 16px;
  color: white;
  line-height: 24px;
}

h2 strong {
  font-weight: bold;
  color: #c271ff;
  font-size: 32px;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'source sans pro', sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: white;
}

.header-container {
  margin: 35px 171px;
  padding: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.profiles {
  margin-top: 168px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.bruceWalters {
  border-radius: 120px;
  height: auto;
}

.section2 {
  background-color: #c271ff;
  display: flex; /* puts the two divs next to each other */
  justify-content: center; /* centers them horizontally */
  align-items: center; /* vertically aligns them */
  gap: 53px;
  padding: 40px 0;
  height: 359px;
}

blockquote {
  font-family: 'source sans pro', sans-serif;
  color: white;
  font-weight: 500px;
  margin: 0;
}

.section3 {
  text-align: center;
  margin-top: 40px;
}

.tutorialCards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.tutorialCards .card {
  text-align: left;
}

.section3 {
}

.section3 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #071629;
  text-align: center;
}

.section3 h2 strong {
  color: #c271ff;
}

.smilesType {
  width: 255px;
  height: 154px;
}

.card h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #071629;
  font-weight: 600;
  margin: 10px 0;
}

.card p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #071629;
  opacity: 0.5016;
}

.card h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #c271ff;
  font-weight: 600;
  line-height: 27px;
  margin: 0;
}

.card p:last-of-type {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #c271ff;
  line-height: 27px;
}

.philMasseyContainer {
  display: flex;
  gap: 13px;
}

.philMassey {
  height: 30px;
  width: 30px;
}

.starContainer {
  display: flex;
}

.section4 {
  background-color: #071629;
  text-align: center;
  height: 502px;
}

.section4 h2 {
  margin-top: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

.section4 h2 strong {
  font-weight: 700;
  color: #c271ff;
}

.section4 h2 span {
  font-weight: 300;
}

.membershipCards {
  display: flex;
  justify-content: center;
  gap: 27px;
  margin-top: 40px;
}

.section4 h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: white;
  font-weight: 600;
}

.section4 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: white;
  font-weight: 200;
}

.section4 button {
  margin-top: 85px;
  height: 44px;
  border-radius: 20px;
  padding: 13px 21.5px;
  background-color: #c271ff;
  color: white;
  font-size: 14px;
  text-align: center;
}

.memberCard {
  height: 153px;
  width: 257px;
}

.section5 {
}

.section5 h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  color: #071629;
  font-weight: 200;
}

.section5 h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #071629;
  line-height: auto;
}

.section5 p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #071629;
  opacity: 0.5016;
}

.questionContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section5 > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 220px;
  margin-top: 40px;
  padding: 0 249px;
  margin-bottom: 84px;
}

footer {
  background-color: #071629;
}

.iconsLogos {
  padding: 95px 165px;
  display: flex;
  justify-content: space-between;
}

.fa-facebook {
  font-size: 30px;
  color: white;
}

.fa-twitter {
  font-size: 30px;
  color: white;
}

.fa-instagram {
  font-size: 30px;
  color: white;
}

.footerContainer div {
  display: flex;
  gap: 20px;
}

.footerContainer p {
  text-align: center;
  padding-bottom: 98px;
  margin: 0;
}

.playCard {
  position: relative;
  width: 255px;
  height: 154px;
}

.playCard .smilesType {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playCard .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  z-index: 10;
}
