a {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
}

h1 {
  /* display: flex;
  justify-content: center; */
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
  text-align: center;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 120px;
  color: white;
  margin-bottom: 20px;
}

.hero span {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  display: inline-block; /* keeps them on one line if spacing is added */
  margin: 0 15px; /* spacing between the spans */
}

.hero button {
  display: block;        /* forces button to a new line */
  margin: 30px auto 0;   /* centers it */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #c271ff;
  color: white;
  border-radius: 22px;
  border: none;
  padding: 20px 14px;
  cursor: pointer;
}

/* .heroText span{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

button {
  display: flex;
  justify-content: center;
  font-family: 'source sans pro', sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #c271ff;
  color: white;
  border-radius: 22px;
  border: none;
  padding: 20px 14px;
} */

body {
  background-image: url('../css_advanced/assets/Object.png');
  background-repeat: no-repeat;
}

h3 {
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  line-height: 27px;
}

p {
  font-family: 'source sans pro', sans-serif;
  font-style: italic;
  font-size: 16px;
  color: white;
  line-height: 24px;
}

h2 strong {
  font-weight: bold;
  color: #c271ff;
  font-size: 32px;
}

h2 {
  font-weight: 100;
  font-size: 32px;
  color: white;
}

.header-container {
  margin: 35px 171px;
  padding: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
